{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

    <div class="container-fluid d-flex justify-content-center align-items-center border-bottom" style="height: 400px;">
        <div class="row">
            <h1>BANNIERE</h1>
        </div>
    </div>

    <div class="container">
        <div class="row" style="height: 400px;">
            <div class="col-md-6 d-flex justify-content-center align-items-center">
                <h2>Photo</h2>
            </div>
            <div class="col-md-6 d-flex justify-content-center align-items-center">
                <h2>Présentation</h2>
            </div>
        </div>
    </div>

{% endblock %}
