{% extends 'base.html.twig' %}

{% block title %}Administration Certificats{% endblock %}

{% block body %}

    <div class="container my-5" style="min-height: 80vh;">
        <h1 class="text-center">Modification d'un certificat</h1>
        {{ form(form) }}
    </div>

{% endblock %}