{% extends 'base.html.twig' %}

{% block title %}Administration Diplômes{% endblock %}

{% block body %}

    <div class="container my-5" style="min-height: 80vh;">
        <h1 class="text-center">Modification du diplôme</h1>
        {{ form(form) }}
    </div>

{% endblock %}