{% extends 'base.html.twig' %}

{% block title %}Administration Jeux{% endblock %}

{% block body %}

    <div class="container my-5" style="min-height: 80vh;">
        <h1 class="text-center">Ajout d'un réseau jeu</h1>
        {{ form(form) }}
    </div>

{% endblock %}